*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
    //background: rgb(0, 6, 76);
    /* Old browsers */
    // background: -moz-linear-gradient(45deg, rgba(0, 6, 76, 1) 1%, rgba(0, 124, 155, 1) 31%, rgba(0, 90, 132, 1) 69%, rgba(89, 121, 183, 1) 100%);
    /* FF3.6-15 */
    //background: -webkit-linear-gradient(45deg, rgba(0, 6, 76, 1) 1%, rgba(0, 124, 155, 1) 31%, rgba(0, 90, 132, 1) 69%, rgba(89, 121, 183, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(45deg, rgba(0, 6, 76, 1) 1%, rgba(0, 124, 155, 1) 31%, rgba(0, 90, 132, 1) 69%, rgba(89, 121, 183, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    //rgba(5, 103, 148, 0.753);
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main {
    width: 100%;
    max-width: 1200px;
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 136, 204, 0.6);
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 0 auto;

    @media (max-width:993px) {
        width: 100%;
        max-width: 880px;
        
    }
    @media (max-width:640px) {
        width: 100%;
        max-width: 600px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        

        
    }

    &__fnl {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        &_name {
            font-size: 42px;
            line-height: 1.5;
            font-weight: 700;

            @media (max-width:993px) {
                font-size: 30px;
            }
        }

        &_label {
            font-size: 30px;
            line-height: 1.5;
            font-weight: normal;

            @media (max-width:993px) {
                font-size: 18px;
            }
        }
    }

    &__foto {
        width: 100%;
        border-radius: 50px;
        box-shadow: 2px 2px 5px rgba(0, 136, 204, 0.6);

    }

    &__info {
        width: 100%;
        font-weight: 500;
        font-size: 26px;
        list-style-type: none;
        margin-left: 20px;
        @media (max-width:640px){
            margin: 10px;
        }

        &_list {
            margin-top: 5px;
            display: flex;
            margin-bottom: 10px;

            .list-img {
                width: 26px;
                margin-right: 10px;

            }

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: rgb(83, 122, 120);
                }
            }

        }


    }

    &__skills {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 20px;

        &_list {
            font-size: 36px;
            line-height: 1.5;
            font-weight: 700;
        }

        &_list-item {
            font-size: 26px;
            line-height: 1.5;
            font-weight: 500;
            display: flex;
            margin-bottom: 15px;

        }

        img {
            width: 26px;
            margin-right: 10px;
        }
    }

}

.text {
    width: 100%;
    max-width: 1200px;
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 136, 204, 0.6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 40px;
    margin-top: 40px;
    font-size: 22px;
    margin: 30px auto;

    h3 {
        font-size: 30px;
        line-height: 1.5;
        font-weight: 700;
    }

    .experience,
    .courses,
    .education {
        color: white;
        border-radius: 20px;
        padding: 10px;
        border-radius: 75px;
    }

    p,
    ul {
        margin-top: 10px;
    }

    @media (max-width:993px) {
        width: 100%;
        max-width: 880px;
       
    }
    @media (max-width:640px) {
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
    }  
}
.experience {
    a {
        color: white;
        &:hover {
            color: rgb(83, 122, 120);
        }
    }

}

.add {
    width: 100%;
    max-width: 1200px;
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 136, 204, 0.6);
    padding: 40px;
    margin: 30px auto;
    font-size: 22px;
    color: white;

    h3 {
        font-size: 30px;
        line-height: 1.5;
        font-weight: 700;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    @media (max-width:993px) {
        width: 100%;
        max-width: 880px;
       
    }
    @media (max-width:640px) {
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
    }  


}