* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #9ebcd6;
  font-family: 'Barlow', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 1200px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
          box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  margin: 10px auto;
}

@media (max-width: 993px) {
  .main {
    width: 100%;
    max-width: 880px;
  }
}

@media (max-width: 640px) {
  .main {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0 0 50px 50px;
  }
}

.main__fnl {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__fnl_name {
  font-size: 42px;
  line-height: 1.5;
  font-weight: 700;
}

@media (max-width: 993px) {
  .main__fnl_name {
    font-size: 30px;
  }
}

.main__fnl_label {
  font-size: 30px;
  line-height: 1.5;
  font-weight: normal;
}

@media (max-width: 993px) {
  .main__fnl_label {
    font-size: 18px;
  }
}

.main__foto {
  width: 100%;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
          box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
}

@media (max-width: 640px) {
  .main__foto {
    margin-top: -15px;
  }
}

.main__info {
  width: 100%;
  font-weight: 500;
  font-size: 26px;
  list-style-type: none;
  margin-left: 20px;
}

@media (max-width: 640px) {
  .main__info {
    margin: 10px;
  }
}

.main__info_list {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.main__info_list .list-img {
  width: 26px;
  margin-right: 10px;
}

.main__info_list a {
  text-decoration: none;
  color: white;
}

.main__info_list a:hover {
  color: #537a78;
}

.main__skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
}

.main__skills_list {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 700;
}

.main__skills_list-item {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.main__skills img {
  width: 26px;
  margin-right: 10px;
}

.text {
  width: 100%;
  max-width: 1200px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
          box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 40px;
  margin-top: 40px;
  font-size: 22px;
  margin: 30px auto;
}

.text h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
}

.text .experience,
.text .courses,
.text .education {
  color: white;
  border-radius: 20px;
  padding: 10px;
  border-radius: 75px;
}

.text p,
.text ul {
  margin-top: 10px;
}

@media (max-width: 993px) {
  .text {
    width: 100%;
    max-width: 880px;
  }
}

@media (max-width: 640px) {
  .text {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.experience a {
  color: white;
  text-decoration: underline;
}

.experience a:hover {
  color: #537a78;
}

.add {
  width: 100%;
  max-width: 1200px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
          box-shadow: 2px 2px 5px rgba(218, 222, 224, 0.6);
  padding: 40px;
  margin: 30px auto;
  font-size: 22px;
  color: white;
}

.add h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
}

.add__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 993px) {
  .add {
    width: 100%;
    max-width: 880px;
  }
}

@media (max-width: 640px) {
  .add {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 50px 50px 0 0;
  }
}

@media (max-width: 640px) {
  hr {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */